<div class="ele-strip">
  <span class="filter-heading">Filter by stars</span>
  <ul class="filter">
    <li><label><input [(ngModel)]="filter.stars" value="*" name="filterStars" type="radio" checked> <span>All</span></label></li>
    <li><label><input [(ngModel)]="filter.stars" value="3" name="filterStars" type="radio"> <span>3</span></label></li>
    <li><label><input [(ngModel)]="filter.stars" value="4" name="filterStars" type="radio"> <span>4</span></label></li>
    <li><label><input [(ngModel)]="filter.stars" value="5" name="filterStars" type="radio"> <span>5</span></label></li>
  </ul>
  <span class="line"> </span>
  <div class="search">
    <label for="search">Search</label>
    <mat-form-field>
        <input matInput [(ngModel)]="filter.search" type="text" placeholder="Type name or description here">
    </mat-form-field>
  </div>
</div>
